/** @format */

.orders-container {
  background-color: #08515d;
  flex: 1;
  display: flex;
}

.orders-container main {
  background-color: #ffff;
  flex: 1;
  height: 92%;
  margin-top: 37px;
  border-radius: 10px;
  margin-right: 10px;

  display: flex;
  animation: fade-in 0.5s ease-in;

}

.chef-container {
    background-color: #ffff;
  flex: 1;
  height: 92%;
  margin-top: 37px;
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
}

.chef-container  img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.orders-details {
  width: 50%;
  padding: 10px;

  color: var(--grey);
}

.orders-details h1 {
  font-size: 2rem;
  color: var(--orange);
  margin-bottom: 20px;
}

.orders-details h2 {
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.orders-details p {
  font-size: 1.6rem;
}

.orders-details-left {
}

/* .orders-container main {} */

.orders-details-headings {
  display: flex;
  justify-content: space-between;
}

.order-item {
  display: flex;
  justify-content: space-between;
}
