/** @format */

.list-container {
  /* max-height: 400px; */
  height: 92%;
  width: 250px;
  background-color: #fff;
  margin: 37px 10px 0 10px;
  border-radius: 10px;
  color: var(--grey);
  overflow: auto;
}



.list-container .list-item {
  cursor: pointer;
  transition: 0.2s all;
  padding: 10px;

  border-bottom: 1px solid #ccc;
}
.list-container .list-item  span{
 margin-left: auto;
 color: green;
}
.list-container .list-item  h3{
 display: flex;
 justify-content: space-between;
}

 .list-item.active {
  background-color: var(--orange);
  color: #fff;
}
.list-container .list-item:hover {
    background-color: var(--orange);
  color: #fff;
}

