
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--black);
    padding: 10px ;
    

}


.login-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.login-details h2 {
    text-transform: capitalize;
    margin: 0 1rem;
    font-weight: normal;
}

.nav-logout-btn {
    border: none;
    width: 10rem;
    padding: .5rem;
    text-transform: capitalize;
     
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--orange);
    
    cursor: pointer;


}

.nav-logout-btn:focus {
    opacity: .9;
    
}