/** @format */

.primary-btn {
  width: 180px;
  padding: 10px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;

  border: 2px solid var(--orange);
  color: var(--black);
  background-color: transparent;
  transition: all .3s ;
}

.primary-btn.btn-clicked {
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.5);

}
