/** @format */

.switch {
  width: 50px;
  height: 15px;
  position: relative;
  background-color: var(--orange);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  outline: 2px solid #ccc;
}

.switch span {
  display: block;
  will-change: transform;
  height: 15px;
  width: 15px;
  background-color: #d42389;
  transition: all 0.3s;
  transform: translateX(0%);
  border-radius: 50%;
}

.switch.on {
  background-color: #4f23d4;
}

.switch.on span {
  transform-origin:right center;
  transform:  translateX(230%);
}
