/** @format */

.signin-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(151.6deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.836) 50%), url(../../assets/images/bg.jpg);
  /* background-image: url('../../assets/images/bg.jpg'); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.sigin-container-inner {
  width: 600px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--grey);
}
.sigin-container-inner img {
    margin-bottom: 20px;
}

.sigin-container-inner input {
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  border: none;
  transition: 0.3s all;
  outline: 2px solid transparent;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.sigin-container-inner button {
  width: 180px;
  padding: 10px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  color: #fff;
  background-color: var(--orange);
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  
}


.sigin-container-inner button:focus {
  opacity: .9;
}