/** @format */

.products-nav-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.products-nav-container-filters {
  list-style: none;
  display: flex;
  font-size: 1.6rem;
  color: var(--white);
}

.products-nav-container-filters .category {
  padding: 0.4rem 2rem;
  cursor: pointer;
  transition: s all;
}

.products-nav-container-filters .category.active {
  background: var(--black);
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10rem;
}

.search {
  margin-left: auto;
  height: 3rem;
  width: 40%;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  border: none;
  transition: 0.3s all;
  outline: 2px solid transparent;
}

.search::placeholder {
  text-transform: capitalize;
}

.search:focus {
  outline: 2px solid var(--yellow);
}
