
.product-conatiner {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    /* max-height: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name-price {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    width: 100%;
    text-transform: capitalize;
    /* margin-top: auto; */
}

.product-image {
    width: 150px;
    max-height: 150px;
    margin: auto ;

}

.description {
    font-size: 1.4rem;
    margin: 1rem 0;

}

.product-button {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--black);
    width: 100%;
    padding: .4rem 0;
    cursor: pointer;

    border: none;
}